@inherits OwningComponentBase<ApplicationDbContext>

<QuickGrid Class="products" Items="@products" Pagination="@pagination">

    <PropertyColumn Property="@(p => p.Category)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Subcategory)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Name)" Sortable="true" />

    <TemplateColumn>
        <a href="edit/@context.ProductId">Edit</a>
    </TemplateColumn>

</QuickGrid>

<Paginator Value="@pagination" />



@code {
    private IQueryable<Product>? products;
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    protected override void OnParametersSet()
    {
        products = Service.Products.OrderBy(x => x.ProductId).AsNoTracking();
    }

}